@media screen and (max-width:414px){
    body{
       overflow-x: hidden;
    }

    .shadow{
        box-shadow: 0px 91px 20px 200px rgba(0,0,0,0.46) inset;
        -webkit-box-shadow: 0px 91px 20px 200px rgba(0,0,0,0.46) inset;
        -moz-box-shadow: 0px 91px 20px 200px rgba(0,0,0,0.46) inset;
    }

    header{
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }

    header #logo{
        width: 30vw;
        height: 5vh;
        text-align: center;
        margin-left: 50px;
       
    }

    #abertura-mobile{
        display: initial;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }

    #abertura-mobile, #logo{
        margin: 25px;
    }

    #close-mobile{
        display: initial;
        height: 30px;
       
    }

    header #close-mobile, ul{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        transition:  0.1s;
        
    }

    header ul{
        width: 100%;
        height: 15vh;
        position: absolute;
        background-color: white;
        display: initial;
        display: flex;
        transform: translateX(-100%);
       
      
    }

    header li, a{
        font-size: 10px;
        padding: 0px;
        color: black;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
       
    }

    header li:hover, a:hover{
        color: black;
        font-size: 14px;
        transition:  0.2s;
    }

    #lado-a{
    width: auto;
    height: 54vh;
    background-image: url(../images/mobile-image-hero-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    
    
    }

    #buttons_mobile{
        display: flex;
        align-items: flex-end;
        cursor: pointer;
    }

    #buttons_mobile img:active{
        background-color: hsl(0, 0%, 27%);
    }

    #buttons_mobile img{
        background-color: black;
        padding: 30px;
        cursor: pointer;
        
    }

    #lado-b #buttons{
        display: none;
    }

    #lado-b{
        display: initial;
        width: 100vw;
        margin-top: 70px;
    }

    #paragrafo-lado-b {
        width: 99vw;
    }


    container{
        flex-direction: column;
    }

    #image-1, #image-2{
        width: 100vw;
    }

    #image-1{
        margin-top: 30vh;
    }
    #paragrafo{
        width: 100vw;
        margin: 50px 0px;
    }
    
}